body {
    background-image: url("/Immagini/sfondo0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
}