body {
    text-align: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-image: url("/Immagini/sfondo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
}

h1, h2 {
    color: antiquewhite;
    text-shadow: 5px 5px 5px #000;
}

h5 {
    font-weight: bold;
    text-shadow: 3px 3px 5px #000;
}

p {
    text-shadow: 2px 2px 2px #000;
}

nav{
    color: antiquewhite;
    text-shadow: 1px 1px 4px #000;
}

#cancelButton, #confirmButton{
    font-weight: bold;
    color: antiquewhite;
    text-shadow: 3px 3px 3px #000;
}

.flip-card {
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: black;
    overflow: hidden;
}

.flip-card-front img {
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: 10px;
}