body {
    overflow-x: hidden;
    background-image: url("/Immagini/sfondo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
}

h1 {
    text-shadow: 5px 5px 5px #000;
    color: antiquewhite;
}

h5, p, .col-md-3 button, .col-3 button {
    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
    color: antiquewhite;
}

nav{
    color: antiquewhite;
    text-shadow: 1px 1px 4px #000;
}

.proposta-card {
    background-color: #495057;
    padding: 20px;
    margin: 20px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0);
    border: 3px solid black; 
    border-radius: 10px;
}

.proposta-card img {
    width: 150px;
    height: 150px;
    border: 4px solid rgb(87,0,0); 
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0);
}