body {
    user-select: none;
    background-image: url("/Immagini/sfondo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: antiquewhite;
    text-shadow: 5px 5px 5px #000;
}

a{
    color: rgb(207, 0, 0); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.card {
    background-color: antiquewhite;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.8);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    max-width: 200px;
}